<p>read works!</p>
<div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userdata">
        <td>{{ item.id }}</td>
        <td>{{ item.firstname }} {{ item.lastname }}</td>
        <td>{{ item.location }}</td>
        <td><button (click)="deleteuser(item.id)">delete</button></td>
        <td><button  (click)="updateUser(item.id)">Update</button></td>
      </tr>
      <!-- and so on... -->
    </tbody>
  </table>
</div>
